<div class="alert alert-info mt-3">
    <h2 class="text-center">Speak to Play</h2>
    <p>Your browser <a class="alert-link"
            href="https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition#Browser_compatibility">supports
            speech recognition</a>!</p>
    <div class="row mb-3">
        <div class="col btn-group">
            <button class="btn btn-primary col-6" (click)="speech.startListening()" [disabled]="speech.listening">
                <img class="icon" src="../../assets/mic-on.png">{{btnLabel}}
            </button>
            <button class="btn btn-danger col-6" (click)="speech.abort()" [disabled]="!speech.listening">
                <img class="icon" src="../../assets/mic-off.png">Stop
            </button>
        </div>
    </div>
    <div class="row" *ngIf="errorMsg">
        <div class="col">
            <p class="alert alert-warning">
                {{errorMsg}}
            </p>
        </div>
    </div>
</div>