<div class="row m-2 text-center">
    <div class="list-group col-6 col-sm-2">
        Add/Remove Character
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let character of characterList"
            (click)="toggleChar(character.key)">
            {{character.key}}
        </button>
    </div>
    <div class="list-group col-6 col-sm-2">
        Select Character on Stage
        <div *ngFor="let character of stageList">
            <button type="button" class="list-group-item list-group-item-action" *ngIf="character.key !== 'img' && character.key !== 'animation'"
                (click)="selectChar(character.key);">
                <h5>{{character.key}}</h5>
                Position: {{character.content.position}}<br>
                Visible: {{character.content.visible}}<br>
                Direction: {{character.content.direction}}<br>
                Level: {{character.content.level}}
            </button>
        </div>
    </div>
    <div class="row col-12 col-sm-8">
        <form class="card col-6 col-md-4 col-lg-3" *ngFor="let emote of emotes | keyvalue" style="width: 250px"
            (ngSubmit)="bindEmote()" #emoteForm="ngForm" autocomplete="off">
            <img [src]="emote.value" class="card-img-top" [alt]="emote.key">
            <div class="card-body form-group p-0 mt-3 mb-1">
                <h5 class="card-title">{{emote.key}}</h5>
                <div class="input-group mb-2">
                    <input type="text" class="form-control text-center" id="text" [(ngModel)]="emoteBinds[emote.key]"
                        name="text" maxlength="1" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="!emoteBinds[emote.key]">Bind Key</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form class="col-12 justify-content-around mt-5" (ngSubmit)="addImg(insertIMG)" #imgForm="ngForm">
        <div class="card row p-3 form-group">
            <input type="text" class="form-control" id="text" placeholder="Insert your background image URL here..."
                [(ngModel)]="insertIMG" name="text" maxlength="800" />
            <div class="col-12 p-0">
                <button type="submit" class="border col-12 col-sm-6 btn btn-success"
                    [disabled]="!insertIMG">Submit</button>
                <button type="submit" class="border col-12 col-sm-6 btn btn-secondary"
                    (click)="insertIMG ='https://cdn.discordapp.com/attachments/467185767593148418/726984522897424464/Deciduous_Forest_Background_-_Road_No_Clearing.png'">Reset</button>
            </div>
        </div>
    </form>
    <form class="col-12 justify-content-around" (ngSubmit)="addAnimation(insertAnim)" #animForm="ngForm">
        <div class="card row p-3 form-group">
            <input type="text" class="form-control" id="text" placeholder="Insert your animation URL to play here..."
                [(ngModel)]="insertAnim" name="text" maxlength="800" />
            <div class="col-12 p-0">
                <button type="submit" class="border col-12 col-sm-6 btn btn-success"
                    [disabled]="!insertAnim">Submit</button>
                <button type="submit" class="border col-12 col-sm-6 btn btn-secondary"
                    (click)="insertAnim = null">Reset</button>
            </div>
        </div>
    </form>
</div>