<div class="row m-2 text-center">
    <div class="list-group col-6 col-sm-2">
        Add/Remove Character
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let character of characterList"
            (click)="toggleChar(character.key)">
            {{character.key}}
        </button>
    </div>
    <div class="list-group col-6 col-sm-2">
        Select Character on Stage
        <div *ngFor="let character of stageList">
            <button type="button" class="list-group-item list-group-item-action"
                *ngIf="character.key !== 'img' && character.key !== 'animation'" (click)="selectChar(character.key);">
                <h5>{{character.key}}</h5>
                Position: {{character.content.position}}<br>
                Visible: {{character.content.visible}}<br>
                Direction: {{character.content.direction}}<br>
                Level: {{character.content.level}}<br>
                Z-index: {{character.content.zindex}}
            </button>
        </div>
    </div>
    <div class="row col-12 col-sm-8">
        <div class="input-group mb-2" *ngIf="emotes">
            <select class="custom-select" type="number" [(ngModel)]="dmgAmount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append d-block">
                <button class="btn btn-outline-danger" type="button" (click)="doDMG()">Damage</button>
                <button class="btn btn-outline-secondary" type="button" (click)="cleanDMGBuffer(false)">De-Buffer</button>
            </div>
        </div>
        <form class="card col-6 col-md-4 col-lg-3" *ngFor="let emote of emotes | keyvalue" style="width: 250px"
            (ngSubmit)="bindEmote()" #emoteForm="ngForm" autocomplete="off">
            <img [src]="emote.value" class="card-img-top" [alt]="emote.key">
            <div class="card-body form-group p-0 mt-3 mb-1">
                <h5 class="card-title">{{emote.key}}</h5>
                <div class="input-group mb-2">
                    <input type="text" class="form-control text-center" [(ngModel)]="emoteBinds[emote.key]" name="text"
                        maxlength="1" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" [disabled]="!emoteBinds[emote.key]">Bind
                            Key</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 mt-5 p-1 btn-group btn-group-toggle bg-info rounded-top">
        <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" [(ngModel)]="masterToggle" ngbButton> Toggle DM Tools
        </label>
    </div>
    <div class="col-12 bg-info rounded-bottom" *ngIf="masterToggle">
        <div class="btn-group mt-2">
            <button type="button" class="btn btn-secondary" (click)="clearStage(true, 'ArrowLeft',0)">Exit All Stage
                Right</button>
            <button type="button" class="btn btn-secondary" (click)="clearStage(true, 'ArrowRight',7)">Exit All Stage
                Left</button>
            <button type="button" class="btn btn-secondary" (click)="clearStage(true)">Exit Smart</button>
            <button type="button" class="btn btn-danger" (click)="clearStage(false)">Hard Clear</button>
        </div>
        <div class="input-group my-2">
            <select class="custom-select" type="number" [(ngModel)]="dmgAmount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append d-block">
                <button class="btn btn-danger" type="button" (click)="doDMG(true)">Damage Everyone</button>
                <button class="btn btn-secondary" type="button" (click)="cleanDMGBuffer(true)">De-Buffer</button>
            </div>
        </div>
        <form class="col-12 justify-content-around mt-3" (ngSubmit)="addImg(insertIMG)" #imgForm="ngForm">
            <div class="card row p-2 form-group">
                <input type="text" class="form-control" placeholder="Insert your background image URL here..."
                    [(ngModel)]="insertIMG" name="text" maxlength="800" />
                <div class="col-12 p-0">
                    <button type="submit" class="border col-12 col-sm-6 btn btn-success"
                        [disabled]="!insertIMG">Submit</button>
                    <button type="submit" class="border col-12 col-sm-6 btn btn-secondary"
                        (click)="insertIMG ='https://cdn.discordapp.com/attachments/467185767593148418/726984522897424464/Deciduous_Forest_Background_-_Road_No_Clearing.png'">Reset</button>
                </div>
            </div>
        </form>
        <form class="col-12 justify-content-around" (ngSubmit)="addAnimation(insertAnim)" #animForm="ngForm">
            <div class="card row p-2 form-group">
                <input type="text" class="form-control" placeholder="Insert your animation URL to play here..."
                    [(ngModel)]="insertAnim" name="text" maxlength="800" />
                <div class="col-12 p-0">
                    <button type="submit" class="border col-12 col-sm-6 btn btn-success"
                        [disabled]="!insertAnim">Submit</button>
                    <button type="submit" class="border col-12 col-sm-6 btn btn-secondary"
                        (click)="insertAnim = null">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>