<div class="col-12 stage" [ngStyle]="height" [style.background-image]="'url('+ img + ')'" mwlResizable
    [enableGhostResize]="true" [resizeEdges]="{ bottom: true, right: false, top: false, left: false }"
    (resizeEnd)="onResizeEnd($event)">
    <div style="position: absolute;bottom: 0px;z-index: i;" *ngFor="let character of stage; let i = index">
        <div [@position]="character.content.position" *ngIf="character.key !== 'img'">
            <img style="width: 250px;" [@direction]="character.content.direction" [hidden]="!character.content.visible"
                [src]="characterList[character.index].content[character.content.expression]">
        </div>
    </div>
</div>